@font-face {
  font-family: dancing-script;
  src: url(<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">);
}

*{
  font-family: Dancing Script, lucida, trebuchet;
}

body{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  margin-bottom: 0;
  background: #5b7989;
  -moz-border-radius:10px 10px 0 0;
  -webkit-boreder-radius:10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  padding-left: 5px;
}

header nav a {
  color: white;
}

header nav a:hover{
  text-decoration: none;
}

.contenedor-paisajes{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background: #d5c75f;
}

.contenedor-paisajes .hijo{
  width: 32%;
  margin: 5px;
  padding: 2px;
}

.contenedor-paisajes #imagen1{
  width: 32%;
  -webki-filter: blur(10px);
  filter: blur(10px);
}

.contenedor-paisajes .hijo:nth-child(even){
  width: 32%;
  -webki-filter: grayscale(100%);
  filter: grayscale(100%);
}

.contenedor-paisajes #imagen3{
  width: 32%;
  -webki-filter: sepia(90%);
  filter: sepia(90%);
}
.hijo img{
  width: 100%;
}

#footer-contenedor{
  -moz-border-radius:0 0 10px 10px;
  -webkit-boreder-radius:0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background: #c6d5c5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-hijo{
  width: 25%;
  display: block;
}

.footer-hijo #redes-sociales ul li img[src^="iconos"]{
  width: 36px;
  height: 36px;
}

@media (min-width:900px) {
  .contenido{
    max-width: 900px;
    margin: 0 auto;
  }

@media (max-width:900px) {
  .contenido{
    width: 100%;
  }
  header{
    height: 150px;
    display: flex;
    flex-direction: column;
  }
  .contenedor-paisajes{
    display: flex;
    flex-direction: column;
  }
  .contenedor-paisajes .hijo img{
    width: 100%;
    margin: auto;
  }
  #footer-contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #footer-contenedor .footer-hijo{
    display: block;
    width: 100%;
    margin-left: 10%;
    padding: 10px;
  }
}
